@mixin prefixer($prop, $val, $prefix:()){
	@each $pre in $prefix{
		#{'-' + $pre + '-' + $prop}: $val;
	}
	#{$prop}: $val;
}

@mixin overlay($col, $op){
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: $col;
	opacity: $op;
}


@mixin animation($anim){
	@-webkit-keyframes #{$anim}{
		@content;
	}
	@-moz-keyframes #{$anim}{
		@content;
	}
	@keyframes #{$anim}{
		@content;
	}
}

@mixin avatar(){
	width: 200px;
	height: 200px;
	border: 5px solid #FFF;
	border-radius: 50%;
	img{
		width: 100%;
		height: 100%;
		border-radius: 50%;
	}
}