
$paragcolor: #8c8c8c;
$graycolor: #dcdcdc;
$grayback: #f7f7f7;
$margin: 80px;
$headsize: 60px;
$bold: 600;


$smph: "(max-width : 480px)";
$xs: "(max-width : 575px)";
$sm: "(max-width : 767px)";
$md: "(max-width : 991px)";
$lg: "(max-width : 1199px)";